<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../../static/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <title>Amazon</title>
</head>
<body>
<div class="row row-no-padding">
    <div class="col-md-8 col-md-offset-2">
        <h1>Amazon</h1><br />
        <span><i class="fa fa-users"></i> Espace de connexion</span>
    </div>
</div>
<form name="connexion" action="/connect" method="post" th:object="${membre}">
    <div class="row row-no-padding">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" th:field="*{nom}" placeholder="Entrez votre nom"/>
            </div>
        </div>
    </div>
    <div class="row row-no-padding">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" placeholder="Entrez votre password"/>
            </div>
        </div>
    </div>
    <div class="row row-no-padding">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <input type="submit" name="valider" value="Se connecter"/>
            </div>
        </div>
    </div>
    <div class="row row-no-padding">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <span><a href="register">Vous souhaitez vous inscrire?</a></span>
            </div>
        </div>
    </div>
</form>
</body>
</html>