body {
    background: transparent url("../images/texture.png") repeat scroll 0 0;
    overflow-x: hidden;
}
body,footer,#body{
    text-align: center;
}
p,span,h1,h2{
    color: orange;
}
thead{
    background: gold;
}
label{
    color: whitesmoke;
}
span{
    font-size: 20px;
}
.row-no-padding {
    margin-left: 0;
    margin-right: 0;
}
[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
input{
    width: 100%;
    padding: 15px;
    color: #242424;
    border-top: none;
    border-left: none;
    border-right: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid #242424;
    -moz-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    -webkit-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
}
.logo{
    width: 50px;
}
.container{
    margin-top: 55px;
    min-height: 300px;
}
.image_produit{
    width: 150px;
    margin: auto;
}
.image_container{
    display: block;
    min-height: 150px;
}
.span_produit{
    font-size: 14px;
    color: white;
    text-align: left;
}
.inline-block{
    display: inline-block !important;
}
#introduction_aside--social a{
    color: white;
}
body .introduction .introduction_aside #introduction_aside--social a:hover, .introduction_aside #introduction_aside--social a:focus {
    color: #f0c041;
}
#introduction_aside--infos {
    padding: 0 25px;
}
#introduction_aside--infos li {
    margin-top: 5px;
    color: #fff;
}
#introduction_aside--social {
    margin-top: 25px;
}
.introduction_aside {
    position: relative;
    padding: 0 25px;
    text-align: left;
}
.introduction_aside .button {
    float: left;
    width: 200px;
    margin-top: 25px;
}
.recap_block{
    width: 100%;
    color: #242424;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.recap_block h3{
    color: white;
}
.recap-block table tr {
    border-bottom: 1px solid #ddd;
}
.recap-block table tr td.price__total {
    width: 15%;
}
.recap-block table tr td .price {
     font-size: 20px;
     font-style: italic;
     font-weight: 600;
}

.button {
    cursor: pointer;
    display: block;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 1px #fff;
    background-color: transparent;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.main {
    position: relative;
    display: block;
    background-position: center 0;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #f0c041;
    left: 0;
}
footer {
    background-image: url("../images/texture.png");
    padding: 50px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #f0c041;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
footer .footer__block {
    margin-bottom: 25px;
}
footer .footer__title {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #848484;
    font-size: 26px;
    line-height: 36px;
    color: #848484;
    text-transform: uppercase;
}
footer .footer__list {
    list-style-type: none;
    text-align: center;
}
footer .footer__list li {
    margin-top: 15px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
footer a:hover {
    color: #f0c041;
}
footer a {
    color: #fff;
    text-decoration: none;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}
footer .footer__copyright {
    display: block;
    list-style-type: none;
}
footer .footer__copyright li {
    display: inline-block;
}
.item_fb, .item_tw, .item_gp {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.item_fb .fa, .item_tw .fa, .item_gp .fa {
    padding: 12px;
    font-size: 1.5em;
}