<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../../static/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <title>Misys project</title>
    <!-- Viewport -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
    <body>
        <div class="main">
            <header>
                <!-- Navbar -->
                <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <img alt="Misys"  src="../../../static/images/MisysLogo.jpg" th:src="@{/images/MisysLogo.jpg}" class="logo"/>
                                    <span>Misys</span>
                                </a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <form class="navbar-form navbar-left" method="post" action="/product/search/date" role="search" th:object="${article}">
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:field="*{date}" placeholder="Search by date"/>
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                                <li><a href="/products">Nos produits</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li th:each="item,iterStat : ${allcategories}">
                                            <a th:href="${item.url}" th:text="${item.nom}">Films</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li th:each="item,iterStat : ${support}">
                                            <a th:href="'/support/'+${item}" th:text="${item}">Films</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/connexion" th:unless="${session.containsKey('membre')}">Se connecter</a></li>
                                <li><a href="/acoount" th:if="${session.containsKey('membre')}"><i class="fa fa-user"></i> Mon compte</a></li>
                                <li th:if="${compte}"><a th:text="${compte}+' €'" href="#"></a></li>
                                <li><a href="/deconnexion" th:if="${session.containsKey('membre')}"><i class="fa fa-sign-out"></i></a></li>
                                <li><a href="/panier"><i class="fa fa-shopping-bag"></i></a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="row row-no-padding">
                    <div class="col-sm-4 col-md-4">
                        <!--<h2 class="inline-block">Liste des produits de la catégorie: </h2>-->
                        <h2 class="inline-block" th:text="${categorie}"></h2>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="col-sm-4 col-md-4" th:each="item,iterStat : ${articles}">
                        <div class="image_container">
                            <a th:href="'/product/'+${item.id}"><img class="image_produit" th:src="${item.images}" th:alt="${item.nom}"/></a>
                        </div>
                        <span class="span_produit" th:text="${item.nom}"></span><br />
                        <span class="span_produit"  th:if="${item.dispo}"><i class="fa fa-check-circle-o fa-2x green"></i> Disponible</span>
                        <span class="span_produit" th:unless="${item.dispo}"><i class="fa fa-check-circle-o fa-2x red"></i> Non disponible</span><br />
                        <span class="span_produit" th:text="${item.prix}+' €'"></span><br />
                    </div>
                </div>
            </div>
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <ul class="footer__copyright">
                                <li>©&nbsp;Amazon • 2016</li>
                                <li><a href="" rel="nofollow">Mentions légales</a> • </li>
                            </ul>
                        </div>
                        <div class="col-md-16">
                            <a class="item_fb" href="" title="Suivez-nous sur Facebook !" target="blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="item_tw" href="" title="Suivez-nous sur Twitter !" target="blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="item_gp" href="" title="Suivez-nous sur Google + !" target="blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            </footer>
        </div>
    </body>
</html>